*{
    margin: 0;
    overflow-x: hidden;
}
.dark-content{
    background-color: #212121;
    width: 100%;
    height: 100vh;
}
.index{
    color: #FFFFFF;
}
/* index-top */
.index-nav{
    padding: 0.5rem 26px;
    background-color: #212121;
    position: fixed;
    width: 100%;
}
.index-logo-img{
    width: 50px;
}
/* index-top PC version */
.pc-index-top{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    position: fixed;
}
/* index content */
.content-top{
    margin-top: 10rem;
    padding: 0 2rem;
    font-size: 16px;
}
.index-cube-img{
    margin-top: 2rem;
    padding-left: .5rem;
    width: 149px;
}
.index-cube-img img{
    width: 100%;
}
.index-cube-txt{
    margin-top: 6rem;
    margin-bottom: 1rem;
    padding-right: .5rem;
    width: 197px; 
}
.index-cube-txt img{
    width: 100%;
}
.content-bottom{
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}
/* view product */
.view-product-area{
    margin-top: 1rem;
    font-size: 18px;
}
.view-product-arrow{
    margin-right: 2rem;
}
/* scroll down */
.scroll-hint{
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 16px;
}
.scroll-down{
    margin-bottom: .5rem;
}
.about-us-title{
    font-size: 24px;
    padding-left: 1.5rem;
    margin-bottom: 3rem;
    top: 4rem;
}
.about-ch-title, .about-en-title{
    text-align: right;
    padding-right: 52px;
}
.about-ch-title{
    font-size: 22px;
}
.about-en-title{
    font-size: 14px;
}
.about-ch-content{
    font-size: 14px;
    padding-left: 52px;
    margin-bottom: 0px;
}
.about-img{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.about-img img{
    width: 110%;
}
@media screen and (min-width: 768px){
    .index-nav{
        padding: 0.5rem 0;
    }
    .index-logo-img{
        width: 65px;
    }
    .content-top{
        margin-top: 8rem;
        padding: 0 4rem;
        font-size: 22px;
    }
    .index-cube-img{
        margin-bottom: 2rem;
        width: 249px;
    }
    .index-cube-txt{
        margin-top: 5rem;
        margin-bottom: 2rem;
        width: 272px;
    }
    .scroll-hint{
        margin-top: 1rem;
        font-size: 18px;
    }
    .about-us-title{
        margin-top: 8rem;
        font-size: 48px;
        text-align: right;
        padding-right: 52px;
    }
    .about-us-content{
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
    }
    .about-ch-title{
        padding-right: 0px;
        font-size: 36px;
    }
    .about-en-title{
        padding-right: 0px;
        font-size: 24px;
    }
    .about-ch-content{
        text-align: right;
        margin-top: 3rem;
        font-size: 18px;
    }
    .about-img{
        width: 500px;
        height: 500px;
        overflow: hidden;
    }
    .about-img img{
        width: 100%;
    }
    .about-title{
        padding-top: 5rem;
        padding-left: 5rem;
    }
}
